@import url('https://fonts.googleapis.com/css?family=Roboto:700');
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300&display=swap');

:root {
  font-size: 18px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  --bg-primary: #D6D5CB;
  --bg-nav-prim: #E4E3DB;
  --bg-nav-sec: #FFF7EF;
  --highlight: #9A8800;
  --text: #000000;

  --transition: 200ms;
}

body {
  margin: 0;
  padding: 0;
  background: var(--bg-primary);
  background-attachment: scroll;
  background-color: var(--bg-primary);
}

body::-webkit-scrollbar {
  width: 0.6rem;
}

body::-webkit-scrollbar-track {
  background: var(--bg-primary);
  border-radius: 5px;
}

body::-webkit-scrollbar-thumb {
  background: var(--highlight);
  border-radius: 5px;
}

main {
  margin-left: 5rem;
  padding: 1rem;
  color: var(--text);
  height: 100vh;
}

.page-container {
  position: relative;
  padding-bottom: 4rem;
}

/* NAVBAR */

.navbar {
  position: fixed;
  background-color: var(--bg-nav-prim);
  transition: 200ms ease;
  z-index: 2;
}

.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-list > .nav-item:not(:first-child) {
  justify-content: center;
}

.nav-item {
  width:100%;
}

.nav-list #logo {
  background-color: var(--bg-nav-sec);
  font-size: 2rem;
  line-height: 85%;
}

.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
  color: var(--text);
  text-decoration: none;
  transition: var(--transition);
}

.nav-link:hover:not(#logo-link){
  color: var(--highlight);
  border-right: 5px solid;
}

.nav-link:hover svg {
  filter:opacity(0%)
}

.nav-link:hover .link-text{
  filter: opacity(100%)
}

.active:not(#logo-link) {
  color: var(--highlight);
  border-right: 5px solid;
}

.link-text {
  font-family: 'Darker Grotesque', sans-serif;
  font-weight: bolder;
  font-size: 1.5rem;
  transition: filter 300ms;
  filter:opacity(0%);
  position: absolute;
}

.nav-link svg {
  transition: filter 300ms;
  min-width: 2rem;
  margin: 0 1.5rem;
}

@media only screen and (max-width: 749px) {

  main {
    margin-left: 0;
  }

  .navbar {
    bottom: 0;
    width: 100%;
    height: 5rem;
  }

  .nav-list {
    flex-direction: row;
    width:100%;
  }

  #logo{
    display: none;
  }

  .nav-item:not(#logo) {
    width: 100%;
  }

  .nav-link {
    justify-content: center;
  }

  .active:not(#logo-link) {
    box-sizing: border-box;
    border-right: 0;
    border-top: 5px solid;
  }

  .nav-link:hover:not(#logo-link) {
    box-sizing: border-box;
    border-right: 0;
    border-top: 5px solid;
  }

  #home-name {
    font-size: 3rem;
  }

  #home-desc {
    font-size: 1.6rem;
  }

  .buttons {
    margin-top: 8vh;
    z-index: 1;
    display: flex;
    align-content: center;
    justify-content: center;
  }
  
  .dir-button {
    border: 5px solid var(--text);
    color: var(--text);
    height: 76px;
    margin: 0 3.5vw;
    transition: 150ms ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
  }
  
  .dir-button:hover {
    background-color: var(--highlight);
    border: 5px solid var(--highlight);
  }
  
  .dir-button svg {
    position: absolute;
    max-width: 50px;
    padding-top: 10px;
    transition: 150ms ease;
    padding-bottom: 30px;
  }
  
  .button-text {
    font-family: 'Darker Grotesque', sans-serif;
    font-weight:normal;
    font-size: 1.2rem;
    padding: 0.2rem 0.5rem;
    padding-top: 50px;
  }

  .project-wrp {
    margin: 0 auto;
    width: 90vw;
  }

  .projects {
    margin-bottom: 5rem;
  }
}

@media only screen and (min-width: 750px) {
  .navbar{
    top: 0;
    height: 100%;
    width: 5rem;
  }

  #home-name {
    font-size: 6rem;
    line-height: 6rem;
  }

  #home-desc {
    margin-top:-2rem;
    font-size: 2rem;
  }
  
  .home .lead {
    padding-top: 2rem;
    padding-left: 3rem;
  }

  .buttons {
    z-index: 1;
    margin: 10vh 10vw;
    display: flex;
    align-content: center;
    justify-content: center;
  }
  
  .dir-button {
    background: linear-gradient(to bottom, rgba(0, 0, 0 ,0) 50%, var(--highlight) 50%);
    background-size: 100% 200%;
    background-position:left top;
    border: 5px solid var(--text);
    color: var(--text);
    min-width: 150px;
    height: 76px;
    margin: 0 5vw;
    transition: 150ms ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
  }
  
  .dir-button:hover {
    background-position:right bottom;
    border: 5px solid var(--highlight);
  }
  
  .dir-button:hover .button-text {
    filter: opacity(100%);
    transform: translateX(30px);
  }
  
  .dir-button:hover svg {
    transform: translateX(-40px);
  }
  
  .dir-button svg {
    position: absolute;
    max-width: 50px;
    padding-top: 10px;
    transition: 150ms ease;
    padding-bottom: 10px;
  }
  
  .button-text {
    filter: opacity(0);
    transition: 150ms ease;
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: lighter;
    font-size: 1.5rem;
    padding-bottom: 8px;
  }

  .project-wrp {
    width: 50vw;
  }

}

footer {
  position: absolute;
  bottom: 0;
  background-color: var(--bg-nav-sec);
  width: 100%;
  height: 4rem;
  color: var(--text);
  font-size: 15px;
  align-content: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.footer-text {
  line-height: 0.5rem;
}

.home {
  align-content: center;
  justify-content: center;
  text-align: left;
}

#home-name {
  font-weight: bold;
}

#home-desc {
  font-family: 'Darker Grotesque', sans-serif;
}

.projects h1 {
  font-size: 3rem;
}

.project-wrp {
  font-family: 'Darker Grotesque', sans-serif;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2vw;
  /* border: 1px solid black; */
}

.left-clm {
  display: grid;
}

.right-clm {
  display: grid;
}

.project-title img {
  width: 100%;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
}

.project-title h2 {
  text-decoration: underline;
  font-size: 2.3rem;
}

.features h2 {
  text-decoration: underline;
}

.made h2 {
  text-decoration: underline;
}

.proj-lst {
  list-style-type: circle;
}

.proj-item {
  font-size: 1.2rem;
  font-style: normal;
}

.proj-button {
  color:black;
  display: block;
  width: 50px;
  height: 50px;
  /* border: 3px solid black; */
}

.proj-button img {
  padding: 2.5px;
  width: 90%;
}

.proj-button-link {
  text-decoration: none;
  font-size: 1.1rem;
}

.git-link {
  float: left;
  margin-right: 15%;
}

.view-link {
  float: left;
}

